<div class="row mb-2">
  <div class="col-4">
    <select class="form-control" required [ngModel]="criterion.type" (ngModelChange)="onSelectType($event)">
      <option *ngFor="let type of types" [value]="type.id">{{type.name}}</option>
    </select>
  </div>

  <div class="col-4">
    <select class="form-control" *ngIf="sign === 'number'" [(ngModel)]="criterion.operator" required>
      <option *ngFor="let operator of numberOperators" [value]="operator.id">{{operator.name}}</option>
    </select>

    <select class="form-control" *ngIf="sign === 'string'" [(ngModel)]="criterion.operator" required>
      <option *ngFor="let operator of stringOperators" [value]="operator.id">{{operator.name}}</option>
    </select>

    <select class="form-control" *ngIf="sign === 'date'" [(ngModel)]="criterion.operator" required>
      <option *ngFor="let operator of dateOperators" [value]="operator.id">{{operator.name}}</option>
    </select>
  </div>

  <div class="col-3">
    <div *ngIf="sign === 'number'">
      <input class="form-control" type="number" name="value"  [(ngModel)]="criterion.value" #value="ngModel" required>
      <div [hidden]="value.valid" class="text-danger">Value is not valid</div>
    </div>

    <div *ngIf="sign === 'string'">
      <input class="form-control" type="text" name="value" [(ngModel)]="criterion.value" #value="ngModel" required>
      <div [hidden]="value.valid" class="text-danger">Value is not valid</div>
    </div>

    <app-date *ngIf="sign === 'date'" [value]="criterion.value" (setItem)="setValue($event)"></app-date>
  </div>

  <div class="col-1">
    <i class="bi bi-trash-fill text-danger" (click)="removeItem.emit()"></i>
  </div>
</div>
