<form (ngSubmit)="onSubmit()" #filterForm="ngForm">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Filter</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalDismiss()"></button>
  </div>
  <div class="modal-body">

    <div>
      <div class="mb-3 row">
        <label for="filterName" class="col-2 form-label fw-bold">Filter name</label>
        <div class="col-10">

          <div class="row">
            <div class="col-4">
              <input type="text" id="filterName" class="form-control" name="name" placeholder="Filter name" [(ngModel)]="filter.name" #name="ngModel" required>
              <div [hidden]="name.valid || name.pristine" class="text-danger">
                Name is required
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-2 form-label fw-bold">Criteria</label>
        <div class="col-10">

          <app-filter-criterion
            *ngFor="let criterion of filter.criteria; let i = index;"
            [criterion]="criterion"
            (removeItem)="removeCriterionItem(i)"
          ></app-filter-criterion>

          <div class="row mb-1" *ngIf="filter.criteria.length === 0">
            <div class="col text-center">
              No criteria selected
            </div>
          </div>

          <div class="row">
            <div class="col text-center">
              <button type="button" class="btn btn-secondary" (click)="addCriterionRow()">
                Add row
              </button>
            </div>
          </div>

        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-2 form-label fw-bold">Selection</label>
        <div class="col-10">

          <div class="form-check form-check-inline" *ngFor="let selection of selections">
            <input class="form-check-input"
                   type="radio"
                   name="filterSelection"
                   id="filterSelection{{selection.id}}"
                   [value]="selection.id"
                   [(ngModel)]="filter.selection"
            >
            <label for="filterSelection{{selection.id}}" class="form-check-label">
              {{selection.name}}
            </label>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalDismiss()">
      Close
    </button>

    <button type="submit" class="btn btn-primary" [disabled]="!filterForm.valid">
      Save
    </button>
  </div>
</form>
